header {
	background-color: #FFF;

}
header .container {
	height: 100px;
	
}
header .container li a{
	color: #3c3950;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 700;
	padding: 8px 15px !important;
	border: 2px solid #ffffff;
}
header .container li a:hover{
	border: 2px solid #3c3950;
}
#logo{
	margin-right: 100px;
	margin-bottom: 4px;
}
#icon2 {
	margin-left: 23px;
}
#icon3{
	margin-left: 20px;
}
#icon4{
	margin-left: 10px;
}
#quantity{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
	color: red;
	di
}
#icon4{
background-image: url(img/tag.png) no-repeat;
margin-top: 25px;
}
.carousel{
	margin-top: 100px;
}
#alert{
	width: 100%;
	height: 58px;
	background-color: #fff;
}
.back-ground {
	height: 344px;
	background-color: #f4f4f6;
	margin: 42px 7px 0 7px;
	position: relative;
}


.back-ground .text {
	position: absolute;
	height: 85px;
	width: 100%;
	margin-top: 209px;
	background-color: #ffffff;
}

.back-ground .text .first-text {
	margin-top: 5px;
	font-size: 16px;
	font-weight: 700;
	color: #3f3c52;
}
.back-ground .text .second-text {
	margin-top: 5px;
	font-size: 14px;
	color: #98a2aa;
}

.back-ground .text:hover {
	background-color: #393d50;
	color: #ffffff;
	cursor: pointer;
}

.back-ground .text:hover .first-text, .second-text {
	color: #ffffff;
}
.back-ground-1 {
	height: 732px;
	background-color: #f4f4f6;
	margin: 42px 7px 0 7px;
	position: relative;
}


.back-ground-1 .text {
	position: absolute;
	height: 85px;
	width: 100%;
	margin-top: 595px;
	background-color: #ffffff;
}

.back-ground-1 .text .first-text {
	margin-top: 5px;
	font-size: 16px;
	font-weight: 700;
	color: #3f3c52;
}
.back-ground-1 .text .second-text {
	margin-top: 5px;
	font-size: 14px;
	color: #98a2aa;
}

.back-ground-1 .text:hover {
	background-color: #393d50;
	color: #ffffff;
	cursor: pointer;
}

.back-ground-1 .text:hover .first-text, .second-text {
	color: #ffffff;
}
.hr{
background: none repeat scroll 0 0 #00bcd4;
    border: medium none;
    display: block;
    height: 1px;
    margin: 13px auto;
    width: 50px;
}
#banner{
	background-color: #efeff2;
	height: 550px;
	margin-top: 120px;
	text-align: center;
}
.sticker{
	margin-top: 142px;
}
.sticker-text{
	font-size: 24px;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	color: #2c2e3d;
	margin-top: 75px;

}
.sticker-text-1{
	font-size: 16px;
	font-family: 'Source Sans Pro', sans-serif;
	color: #5f727f;
	margin-top: 14px;
	font-weight: 400; 
}
.abc{
	padding: 0 50px;
}
.new-comers{
	font-size: 50px;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	color: #3c3950;
	margin-top: 100px;
	text-align: center;
}
.back-ground-2 {
	height: 470px;
	background-color: #f0f3f2;
	margin: 45px 7px 0 7px;
	position: relative;
}


.back-ground-2 .text {
	position: absolute;
	height: 145px;
	width: 100%;
	background-color: #ffffff
}

.back-ground-2 .text .first-text {
	margin-top: 15px;
	font-size: 16px;
	font-weight: 300;
	color: #3f3c52;
}
.back-ground-2 .text .second-text {
	margin-top: 5px;
	font-size: 14px;
	color: #98a2aa;
}
.border-top-0{
	border: 1px solid #dfe5e8;
}
.price{
	color: #00bcd4;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin-top: 15px;

}
.hr1{
background: none repeat scroll 0 0 #00bcd4;
    border: medium none;
    display: block;
    height: 1px;
    margin: 22px auto;
    width: 50px;
}
.xyz{
	text-transform: uppercase;
}

#banner1{
	background-color: #3b3a49;
	margin-top: 110px;

}
#sale{
	font-weight: 700;
	color: #fff;
	font-size: 120px;
	font-family: 'Montserrat', sans-serif;

}
#awesome{
font-weight: 300;
	color: #fff;
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
}
#show-sale{
	font-weight: 700;
	color: #7e91ff;
	font-size: 19px;
	font-family: 'Montserrat', sans-serif;
	border: 2px solid #7e91ff;
	padding: 15px 26px;

}
#new-form-text{
	text-transform: uppercase;
	font-size: 36px;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
	color: #3c3950;
	margin-top: 100px;
	text-align: center;
}
.back-ground-3 {
	height: 158px;
	background-color: #f0f3f2;
	margin: 40px 7px 0 7px;
	position: relative;

}

.back-ground-3 .text-1 {
	position: absolute;
	height: 158px;
	background-color: #ffffff;
	width: 380px;
	margin-left: 183px;
}
.border-left-0{
	border: 1px solid #dfe5e8;
}
.text-1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 19px;
	color: #3c3950;
	padding-left: 30px;

}
.simple-blog-1{
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	font-size: 16px;
	margin-top: 25px;
	color: #5f727f;
}
.simple {
	height: 555px;
	background-color: #f0f3f2;
	margin: 40px 7px 0 7px;
	position: relative;

}
#hr3{
	height: 5px;
	border-top: 1px solid #dfe5e8;
	border-bottom: 1px solid #dfe5e8;
	margin: 70px 0;
}
.back-ground-4{
	height: 335px;
	background-color: #f0f3f2;
	margin: 40px 7px 0 7px;

}
#banner2{
	background-color: #181828;
	height: 200px;
	margin-top: 110px;
}